*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row > .float-right{
	float:right;
}

.row::after{
	content:"";
	display:table;
	clear:both
}

.container{
	max-width:920px;
	margin:auto;
    width: 100%;
}

.col-1_6{
	width: calc(100% / 6);
}

.col-2_6{
	width: calc(100%/6 * 2);
}

.col-4_6{
	width: calc(100%/6 * 4);
}

[class*="col-"] {
	float: left;
}

header{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position-y: center;
}

nav div ul{
    list-style: none;
    text-align: center;
    line-height: 38px;
    
}

nav div ul li{
    display: inline-block;
}

nav div ul li a{
    text-decoration: none;
    padding: 0 18px;
    font-weight: bold;
}

.btn{
    border-radius: 15px;
    background-color: white;
    color: black;
    font-weight: bold;
    text-decoration: none
}

.btn-small{
    padding: 11px;
    font-size: 12px;
    
}

.text-white{
    color: white;
}

.align-right{
    text-align: right;
}

a.btn.btn-small, nav div ul{
    line-height: 38px;
}
