*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.row > .float-right{
	float:right;
}

.row::after{
	content:"";
	display:table;
	clear:both
}

.container{
	max-width:920px;
	margin:0 auto;
}

.col-1_6{
	width: calc(100% / 6);
}

.col-2_6{
	width: calc(100%/6 * 2);
}

.col-4_6{
	width: calc(100%/6 * 4);
}   

.row > * {
    float: left;
  }

header{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position-y: center;
    padding: 10px 0;
}

nav div ul{
    list-style: none;
    text-align: center; 
}

nav div ul li{
    display: inline-block;
}

nav div ul li a{
    text-decoration: none;
    padding: 0 18px;
    font-weight: bold;
}

.btn{
    border-radius: 28px;
    background-color: white;
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding: 18px 28px;
    line-height: 3.5;
}

.btn-small{
    padding: 11px;
    font-size: 12px;
    
}

.btn-black{
    background-color: black;
}

.text-white{
    color: white;
}

.text-right{
    text-align: right;
}

.text-center{
    text-align: center;
}

.align-center{
    margin: 0 auto;
    float: none;
}


a.btn.btn-small, nav div ul{
    line-height: 34px;
}

.col-4_6 h1{
    padding-bottom: 20px;
}

.row-hero p{
    line-height: 1.625;
    margin-bottom: 20px;
}

.row-hero{
    padding: 40px 0;
}

.container-buttons-header a:first-child{
    margin-right: 20px;
}

.section-text h2{
    font-size: 40px;
    padding-top: 20px;
}

.section-text p{
    line-height: 1.5;
}

.section-img{
    width: 90%;
}

section .container .row{
    padding: 60px;
}