*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position-y: center;
    padding: 10px 0;
}

h3{
    font-size: 30px;
}

h4{
    font-size: 20px;
}

hr{
    border: 1px solid;
    margin: 25px 0;
}

/* ***** SELETTORI AVANZATI ***** */

.row > .float-right{
	float:right;
}

.row > * {
    float: left;
  }

.row::after{
	content:"";
	display:table;
	clear:both
}

nav div ul, footer div ul{
    list-style: none;
}

nav div ul li{
    display: inline-block;
}

nav div ul li a, footer div ul li a{
    text-decoration: none;
}

nav div ul li a{
    padding: 0 18px;
}

footer div ul li a{
    display: inline-block;
    padding: 8px 0;
}

a.btn.btn-small, nav div ul{
    line-height: 34px;
}

.col-4_6 h1{
    padding-bottom: 20px;
    font-size: 50px;
}

.row-hero p{
    line-height: 1.625;
    margin-bottom: 20px;
}

.container-buttons-header a:first-child{
    margin-right: 20px;
}


section .container .row{
    padding: 100px 0;
}

.section-text h2{
    font-size: 40px;
}

.section-text p{
    line-height: 1.5;
}

.section-text.float-right{
    padding-right: 25px;
    padding-top: 20px;
}

.float-right .section-img{
    padding-left: 20px;
}

.section-text.text-center h2{
    padding-bottom:20px;
}

.btn.bg-light_purple{
    margin-top: 30px;
}

.text-center.align-center h3{
    margin-bottom: 30px;
}

.footer-container-icons i{
    padding-right: 18px;
}

footer .container{
    padding: 60px 0;
}

/* ***** CLASS UTILITY ******/

.col-1_6{
	width: calc(100% / 6);
}

.col-2_6{
	width: calc(100%/6 * 2);
}

.col-4_6{
	width: calc(100%/6 * 4);
}   

.btn{
    border-radius: 28px;
    background-color: white;
    color: black;
    font-weight: bold;
    text-decoration: none;
    padding: 18px 28px;
    line-height: 3.5;
}

.btn-small{
    padding: 11px;
    font-size: 14px;
    
}

.btn-black{
    background-color: black;
}

.text-white{
    color: white;
}

.text-purple{
    color:#7289da;
}

.text-right{
    text-align: right;
}

.text-center{
    text-align: center;
}

.align-center{
    margin: 0 auto;
    float: none;
}

.container{
	max-width:920px;
	margin:0 auto;
}

.section-text{
    padding-left: 25px;
    padding-top: 20px;
}

.section-img{
    max-width: 90%;
}

.bg-light_grey{
    background-color: lightgray;
}

.bg-light_purple{
    background-color: #8ea1e1;
}

.bg-dark_grey{
    background-color: #23272a;
}
/* ***** CLASS ***** */

.row-hero{
    padding: 60px 0;
}

.fa-long-arrow-alt-down{
    padding-right: 15px;
}

.stars{
    position: relative;
    top: 20px;
}


.flag{
    width: 24px;
    vertical-align: middle;
    border-radius: 1px;
}

.select-language{
    margin:30px 0;
}